h1{
    line-height: 1.6;
}

body{
    background-color: #F8F8F8;
}
#hero{
    background-color: #F8F8F8;
    overflow: hidden;
    cursor: none;
    min-height: 100vh;
    display: flex;
}

@media(min-width: 1024px){
    #hero .container
    {
        max-width: calc(100vw - 2 * 5vw);
    }
    
    #cards .container,
    #counters .container,
    #web-technologies .container,
    #why .container,
    #contact .container{
        max-width: calc(100vw - 2 * 10.9375vw);
    }
    
    .container-left {
        margin-left: calc((100% - calc(100vw - 2 * 10.9375vw)) / 2);
    }
    .container-right {
        margin-right: calc((100% - calc(100vw - 2 * 10.9375vw)) / 2);
    }
}



#hero:hover .cursor{
    opacity: 1;
    height: 150px;
    width: 150px;
}
@media screen and (max-width: 1366px) and (hover: hover){
    #hero:hover .cursor{
        width: 100px;
        height: 100px;
    }
}


.blur {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.blur2 {
    position: absolute;
    top: 15%;
    left: 10%;
    pointer-events: none;
}

.swiper-slide{
    background-color: #F8F8F8;
}

.servicesSliderOne {
    padding-bottom: 0 !important;
}
.servicesSliderTwo .swiper-slide {
    height: 240px;
    width: 210px;
    margin-right: 20px;
    transition: 0.3s;
}
.servicesSliderTwo .swiper-wrapper{
    padding-bottom: 50px;
    padding-right: 50px;
    margin-right: 50px;
}

.servicesSliderTwo .slick-track{
    margin-bottom: 50px;
}
.servicesSliderOne .slick-slider,
.servicesSliderTwo .slick-slider{
    padding-bottom: 0 !important;
}

#counters, #reviews{
    background-color: #fff;
}

/* #reviews{
    padding-bottom: 20px;
} */

#counters .flex:not(.three-equal-col){
    display: flex;
    gap: 70px;
}
#counters .flex:not(.three-equal-col) > div:first-child{
    width: 60%;
}
#counters .flex:not(.three-equal-col) > div:last-child{
    width: 40%;
}

.flex.three-equal-col {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.counter-box{
    padding: 20px;
    border-radius: 12px;
    cursor: default;
    transition: 0.3s ease;
}
.counter-box:hover{
    box-shadow: -6px 6px 15px 0px #00000014;
}

.counter-box .number{
    font-size: 82px;
    color: var(--blue);
    font-weight: 600;
    line-height: 1;
}
.counter-box .number span{
    font-size: inherit;
}
.counter-box p{
    font-weight: 500;
}

.counter-box.special{
    padding: 40px;
    box-shadow: -6px 6px 15px 0px #00000014;
    text-align: center;
    border-radius: 25px;
}
.counter-box.special .number{
    font-size: 120px;
}
.counter-box.special p{
    font-size: 24px;
}

.service-box {
    height: 240px;
    width: 210px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -6px 6px 24px 0px #0000001F;
    margin-right: 20px;
    margin-block: 20px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}
.service-box .traced{
    opacity: 0;
    transition: .3s;
    position: absolute;
    right: 0px;
    top: 20px;
    margin: 0;
    rotate: 90deg;
}
.swiper-slide-active .service-box img:not(.traced),
.splide__slide.is-active .service-box img:not(.traced){
    opacity: 0;
    width: 45px;
}
.swiper-slide-active .service-box .traced,
.splide__slide.is-active .service-box .traced{
    opacity: 1;
    rotate: 0deg;
}
.swiper-slide-active .service-box h3,
.splide__slide.is-active .service-box h3{
    font-size: 22px;
}
.service-box img{
    margin-top: 50px;
    margin-bottom: 30px;
    max-height: 60px;   
    transition: .3s;
}
.service-box h3{
    font-size: 16px;
    font-weight: 600;
}
.servicesSliderTwo .swiper-slide-active,
.servicesSliderTwo .splide__slide.is-active{
    width: 320px;
}
.service-box:focus, .swiper-slide-active .service-box,
.servicesSliderTwo .splide__slide.is-active .service-box{
    width: 320px;
    color: #fff;
    background-color: var(--blue);
    box-shadow: none;
}
.service-box:hover img{
    rotate: 180deg;
}

.service-box.slick-current{
    width: 326px;
    background-color: var(--blue);
    color: #fff;
}

.circular-box{
    background-color: #4747EC14;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

#web-technologies{
    background-color: #fff;
}
#web-technologies .flex{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 44px;
    row-gap: 56px;
}

@media(max-width: 1300px){
    #web-technologies .flex{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
/* #web-technologies .flex > div{
    width: calc(100%/6);
} */
#web-technologies .flex .circular-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#web-technologies .flex p{
    padding-top: 12px;
}

#cards .flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 63.75vw;
}
#cards .card-item:nth-child(odd){
    padding-top: 15%;
}
.card-item{
    transition: .3s;
    height: fit-content;
    padding-bottom: 30px;
    display: none;
    width: 27vw;
    min-height: 54.1666666667vw;
}
/* .card-item:hover{
    box-shadow: 26px 10px 16px 0px #0000000D;
    scale: 1.01;
} */
.card-item img{
    max-width: 100%;
    transition: .3s ease-out;
}
.card-item img:hover{
    transform: scale(1.04)!important;
}
.card-item h3{
    margin-top: 10px;
    line-height: 1.875rem;
    font-size: 1.375rem;
    padding-bottom: 10px;
}
.card-item p{
    color: var(--grey);
    /* font-weight: 500; */
    font-size: 16px;
    border-bottom: 1px solid rgba(226,228,233,.5);
    margin-bottom: 30px;
}

.testimonialSlider .slick-slide{
    width: 310px;
    margin-right: 80px;
}
.testimonialSlider {
    overflow: hidden;
}
.testimonialSlider .name{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
}
.testimonialSlider p{
    color: #767676;
    font-size: 15px;
    line-height: 1.5;
}
.testimonialSlider p span, .testimonialSlider p a{
    font-size: inherit;
    color: var(--blue);
    text-decoration: none;
}
.testimonialSlider .designation{
    color: var(--blue);
    padding-top: 28px;
    font-weight: 600;
}
.testimonialSlider .image{
    position: relative;
    background-image: url(../img/testimonial.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 14px 0px 22px 0px;
    display: flex;
    justify-content: flex-start;
    background-position: left;
    margin-bottom: 10px;
}
.testimonialSlider .image img{
    padding-left: 22px;
    width: 100px;
}
.servicesSliderOne .grid.two-equal-col p {
    line-height: 2;
}

.form-flex{
    display: flex;
    gap: 100px;
}
.form-flex > div:first-child{
    width: 55%;
}
.form-flex > div:last-child{
    width: 45%;
}

.icon-box{
    display: flex;
    gap: 18px;
    align-items: center;
    line-height: 1.5;
}
.icon-box a{
    text-decoration: none;
}

.contact-details{
    display: flex;
    justify-content: space-between;
    /* margin-right: 60px; */
}

.gap-8{
    gap: 8px;
    padding-bottom: 10px;
}
.gap-8 p, .gap-8 a{
    padding-top: 2px;
    display: block;
}

@media(max-width: 767px){
    #hero p.grey.pt_40.medium {
        font-size: 120%;
        line-height: 1.6;
    }
    #hero p.grey.pt_40.medium span{
        font-size: inherit;
    }
    .blur2{
        left: 0;
    }
    .servicesSliderOne .grid.two-equal-col{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        text-align: left;
    }
    .servicesSliderOne .grid.two-equal-col > div:nth-child(2){
        margin-inline: 30px;
    }
    #web-technologies .flex{
        /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
        display: flex;
        flex-wrap: nowrap;
    }
    section#web-technologies {
        padding-bottom: 10px;
    }
    section#why {
        padding-bottom: 0;
    }
    .form-flex {
        gap: 50px;
    }
    #hero{
        text-align: center;
    }
    #hero .grid.two-equal-col > div:first-child{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #counters .justify{
        text-align: center;
    }
    #reviews {
        padding-bottom: 80px;
    }
    .servicesSliderOne, #cards, #contact{
        text-align: center;
    }
    #cards .card-item{
        text-align: left;
    }
    #cards .card-item:nth-child(odd){
        padding-top: 0;
    }
    .circular-box{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .circular-box img{
        padding: 20px
    }
    .servicesSliderTwo {
        display: none;
    }
    .container-right{
        padding-right: 0;
    }
    #web-technologies .flex{
        justify-content: center;
    }
    .testimonialSlider {
        text-align: center;
    }
    .testimonialSlider .name {
        font-size: 24px;
    }
    .testimonialSlider .designation {
        font-size: 20px;
        padding-top: 20px;
    }
    .testimonialSlider .image img {
        padding-left: 0px;
    }
    .testimonialSlider .image{
        justify-content: center;
        background-position: center;
    }
    .testimonialSlider .slick-slide {
        width: 310px;
        margin-right: 0px;
        padding-inline: 15px;
    }
    .container-left {
        padding-inline: var(--container_padding);
    }
    h2 br{display: none;}
    .mob-text-center{
        text-align: center;
    }

    
    #counters .flex:not(.three-equal-col){
        flex-direction: column;
        gap: 40px;
    }
    #counters .flex:not(.three-equal-col) > div:first-child,
    #counters .flex:not(.three-equal-col) > div:last-child {
        width: 100% !important;
    }
    .counter-box.special .number {
        font-size: 100px;
    }
    .counter-box.special p {
        font-size: 22px;
    }
    .counter-box .number {
        font-size: 32px;
    }
    .counter-box p {
        font-size: 12px;
    }
    .counter-box {
        padding: 15px;
    }
    /* #cards .flex{
        gap: 100px;
        row-gap: 60px;
    } */
    #cards .flex{
        display: flex;
        width: 100%;
        margin-top: 60px;
    }
    .card-item{
        width: 100%;
        margin-bottom: 60px;
    }
    #cards h2.blue.regular.text_xl.pb_40 {
        font-size: 28px;
        padding-bottom: 30px;
    }
    #case-studies .card-item:last-child{
        margin-bottom: 0;
    }
    #cards .card-item:nth-child(even) {
        padding-top:0px;
    }
    .form-flex > div:first-child, .form-flex > div:last-child{
        width: 100%;
    }
    #reviews .slick-slider {
        padding-bottom: 0 !important;
    }
    #reviews img {
        margin: auto;
    }
    #reviews .slick-dots{
        bottom: -70px;
        text-align: center;
    }
}